
.banner-area{
    background-image: url("https://cdn.shopify.com/s/files/1/1215/2782/files/leo_oobliss_banner1-h1.jpg?v=1601088185");
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
    text-align: left;
    background-size: cover;
    overflow: hidden;
}


@media only screen and (max-width:800px) {
    /* For tablets: */
    .banner-area {
        height: 500px;
    }
  }

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .banner-area {
        height: 400px;
    }
    h5{
      font-weight: bold;
    }
  }