.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link{
  color: black!important;
  font-size: 20px;
}
.nav-link:hover{
  color: #ECBA78!important;
}
.navbar-nav li{
  padding-left: 20px;
}

.btn-area{
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight:  400;
  font-size: 12px;
}


.btn-blog{
  background-color: #F6F9FC;
  border: 1px solid #E1E1E1;
  border-radius: 15px;
  padding: 7px 25px;
}

.btn-card{
  background-color: #ECBA78;
}
.btn-card a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}